<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/javascripts/vendor/bootstrap/less/bootstrap.css">
      <script data-main="/javascripts/app/main" src="javascripts/vendor/requirejs/require.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
