<div class="sr-popover">
    <div class="sr-popover-header">
        {{title}}
        <span class="sr-popover-btn-close"><i class="glyphicon glyphicon-remove"></i></span>
    </div>
    <div class="sr-popover-content"></div>
    <div class="sr-popover-footer">
        <div class="sr-button-ok pointer">{{buttonOk}}</div>
        <div class="sr-button-cancel pointer">{{buttonCancel}}</div>
    </div>
</div>