<div>
    {{#each table}}
        <div>
            <h3>{{name}}</h3>
            <table>
                <thead>
                <tr>
                    <th>Validator</th>
                    <th>Severity</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
            {{#each validators}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            {{/each}}
            </table>
        </div>
    {{/each}}
</div>