<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Metrics browser</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 left-navi"></div>
        <div class="col-md-10 right-content"></div>
    </div>
</div>
